# Files
.gitignore
work.py
tests.py
wolf.py
makeDataFiles.py
BINNED.txt
BINNEDSpectraBasedOnAbs.txt
ClassifyingSpectra.py
CurrentAverageSpectra.csv
determineEnantiomers.py
NameSMilesPairsOfTrainingSet.csv
NumericalClassification.csv
spectrumpicker.py
AnalytesWithErrors.txt
out.xlsx
presentation.py
out.png
pca_umap.py
cluster_and_plot.py
projection.csv
temp.csv
test_difference_well.py
Binned_10-nov-2022.csv

# Folders
structures/
figures/
build/
wolf/
csvs/
trash/

# Caches
.DS_Store
EKKOTools/__pycache__/
__pycache__/